
/* FOR LIVE PREVIEW / editing */
/* .markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
    width: 50% !important;
    max-width: 50% !important;
    overflow-x: auto;
} */

/* .markdown-preview-view {
    max-width: 50% !important;
} */
